@import 'src/styles/vars';

.home {
  &-fest {
    margin: 0 auto;
    &-title {
      text-align: center;
      font-family: $title-font;
      color: $main-font-color;
      font-size: 2em;
      margin: 0;
    }
  }
  &-container {
    margin: 0 auto;
    height: 40vh;
    width: 75vw;
  }
}

.loading{
  text-align: center;
  margin: 2vh auto;
}

