$title-font-color: #E18B33;
$main-font-color: #BEBAB6;
$red-font-color: #B50004;
$purple-font-color: #3E1F5F;
$input-background: #0f0f0f;

$body-font: 'Lato', sans-serif;
$title-font: 'knuckle_sandwichregular';
$fest-font: 'Metal Mania', cursive;